###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.pem
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> doctrine/doctrine-bundle ###
/var/log
###< doctrine/doctrine-bundle ###

# DDEV
/.ddev/homeadditions
/.ddev/.gitignore
/.ddev/docker-compose.*

# IDE
.idea/
.vscode/
*.swp
*.swo
